<p>Prezados,</p>

{{{message}}}

<p>
    👉 <a href="{{linkQuadro}}" class="button">Clique aqui</a> para abrir o quadro e visualizar os detalhes do processo (cards).
</p>

<p>
    Atenciosamente,<br />
    {{remetenteNome}}<br />
    {{remetenteCargo}}
</p>